<!DOCTYPE html >

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
  <!-- plugins:css -->
  <!-- <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css"> -->
  <!-- <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css"> -->
  <!-- <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css"> -->
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />

  <!-- plugin css for this page -->
  <!-- <link rel="stylesheet" href="../../vendors/iconfonts/font-awesome/css/font-awesome.css"> -->
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <h2 class="text-center mb-4" style="color:white;">Register</h2>
            <div class="auto-form-wrapper">
              <form action="#" id="form_register" name="form_register">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Full Name" name="fullname" id="fullname" required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i style="color: green" class="fa fa-user" aria-hidden="true" ></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Email" name="email" id="email" required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i style="color: green" class="fa fa-envelope" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Phone" name="phone" id="phone" required >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i style="color: green" class="fa fa-phone" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" required >
                    <div class="input-group-append">
                      <span class="input-group-text">
                       <i style="color: green" class="fa fa-pencil" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" id="confim_password" name="confim_password" required >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i style="color: green" class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <div class="form-check form-check-flat mt-0">
                  
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Register</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Already have and account ?</span>
                  <a href="login.html" class="text-black text-small">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="js/vendor.bundle.base.js"></script>
  <script src="js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <style>
    label.error {
    display:block;
    width:auto;
    color: red
    }
  </style>
  <!-- endinject -->
</body>

</html>