<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Role List</title>
<link type="text/css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="col-3"></div>
	<div class="container col-6">
		<h1>List Role</h1>

		<table class="table table-active">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
			<tr th:each="role : ${roles}">
				<td th:text="${role.name}"></td>
				<td th:text="${role.desc}"></td>
				<td><a
					th:href="@{/edit?role_id={role_id}(role_id=${role.role_id})}"
					class="btn btn-primary">Edit</a> <a
					th:href="@{/delete?role_id={role_id}(role_id=${role.role_id})}"
					class="btn btn-danger">Delete</a></td>

			</tr>
		</table>

	</div>
</body>
</html>